<BODY>
<CENTER><P>
<!-- ********************************************************************************** -->
<!-- ***  If you are reading this, and the rest of this message looks like          *** -->
<!-- ***    strange text, then you are unable to read HTML Mail. You need           *** -->
<!-- ***    Navigator Mail, part of Netscape Navigator and Communicator,            *** -->
<!-- ***    to read HTML Mail.                                                      *** -->
<!-- ***    To continue with the Installation of your WebPass ID,										*** -->
<!-- ***    go to the VeriSign web site at:                                         *** -->
<!-- ***    http://verisign.netscape.com/getidinbox.htm														*** -->
<!-- ***    and enter the following PIN:                                            *** -->
<!-- ***    fd384c640da6d9e52c9824dff10872cc																								*** -->
<!-- ********************************************************************************** -->
</P></CENTER>
<CENTER><P><FORM METHOD=POST ACTION="http://verisign.netscape.com/cgi-bin/NetCenter.exe">
</P></CENTER>
<P><INPUT TYPE="hidden" NAME="operation" VALUE="permenant"></P>
<TABLE CELLSPACING=0 CELLPADDING=0 BGCOLOR="#FFFFFF" >
<TR BGCOLOR="#FFFFFF">
<TD BGCOLOR="#FFFFFF"></TD>
</TR>
<TR>
<TD><INPUT NAME="secretCode" VALUE="fd384c640da6d9e52c9824dff10872cc" TYPE="hidden" SIZE=35 MAXLENGTH=35>
<TABLE CELLSPACING=2 CELLPADDING=2 BGCOLOR="#FFFFFF" >
<TR>
<TD WIDTH="70%">
<H2>WebPass ID Confirmation</H2>

<P>Congratulations, VeriSign has processed your application for
a WebPass ID, giving you secure access to Netscape Netcenter. </P>
</TD>
<TD WIDTH="107"><IMG SRC="http://verisign.netscape.com/ibd2/new_cert.jpg"></TD>
<TD WIDTH="107"><IMG SRC="http://verisign.netscape.com/ibd2/vslogo2.gif"></TD>
</TR>
<TR>
<TD COLSPAN="3">
<P><STRONG>IMPORTANT:</STRONG> Continue installation only if you are
reading this message on the same computer you used to request your WebPass ID.</P>

<P>To continue with the installation of your ID, click on the
<B>Next </B>button below.</P>

Your ID will contain the following information:
<P>Name: RICARDO QUESADA</P>

You will shortly receive a message with information about obtaining a
Full Service VeriSign Digital ID used for sending secure e-mail with
Netscape Communicator.  For information on using your WebPass ID and
to learn about copying your ID to your office/home computer, please
visit www.verisign.com.

<P><FONT SIZE=-1><STRONG>Note:</STRONG> If you do not see a NEXT button below, you
are reading this email message in an application that does not display
web pages properly (a requirement for Netscape In-Box Direct). To
update your Internet mail client visit <a href="http://home.netscape.com/download/su2.html">Netscape SmartUpdate</a>. To download your WebPass ID visit <A HREF="https://verisign.netscape.com/getidNetCenter.htm">https://verisign.netscape.com/getidNetCenter.htm</A>
and retrieve your ID with this PIN number: fd384c640da6d9e52c9824dff10872cc </FONT> </P>
<TABLE BORDER=2 CELLSPACING=2 CELLPADDING=2 WIDTH="100%" >
<TR>
<TD>
<DIV ALIGN=right><TABLE CELLSPACING=2 CELLPADDING=2 >
<TR>
<TD>Click Next to continue.</TD>
<TD><INPUT TYPE="image" IMG
SRC="http://verisign.netscape.com/ibd2/next.gif" HEIGHT=22 WIDTH=84 BORDER=0></TD>
</TR>
</TABLE></DIV>
</TD>
</TR>
</TABLE>
<CENTER><P>&nbsp;</P></CENTER>
</TD>
<TD></TD>
<TD></TD>
</TR>
</TABLE>
<P>
<!--center><img src="http://verisign.netscape.com/images/footers/g_footer.gif" 
alt="Retrieving your WebPass ID"-->
<INPUT NAME="dummyKey" TYPE="hidden">
<INPUT NAME="dummy1" TYPE="hidden">
<INPUT NAME="dummy2" TYPE="hidden">
<!--H6><center>Copyright &copy; 1996, VeriSign, Inc.</center></H6--></P>
<P></FORM></P>
<P></x-html></P>
</TD>
</TR>
</TABLE>
</BODY>
</HTML>






