<H3>Object subclass: #Persona<br>
&nbsp;&nbsp;&nbsp;	instanceVariableNames: 'nombre dni sexo '<br>
&nbsp;&nbsp;&nbsp;	classVariableNames: ''<br>
&nbsp;&nbsp;&nbsp;	poolDictionaries: ''<br>
&nbsp;&nbsp;&nbsp;	category: 'Facultad'!</H3><br>
<H3><br>
!Persona methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 02:26'!<br>
</H3><b>dni</b><br>
&nbsp;&nbsp;&nbsp;	^ dni! !<br>
<br>
!Persona methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 01:05'!<br>
<b>dni: unDni</b><br>
&nbsp;&nbsp;&nbsp;	dni _ unDni! !<br>
<br>
!Persona methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 02:05'!<br>
<b>initialize</b><br>
&nbsp;&nbsp;&nbsp;	" No hago nada"! !<br>
<br>
!Persona methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 01:05'!<br>
<b>nombre: unNombre</b><br>
&nbsp;&nbsp;&nbsp;	nombre _ unNombre! !<br>
<br>
!Persona methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 01:08'!<br>
<b>sexo: unSexo</b><br>
&nbsp;&nbsp;&nbsp;	sexo _ unSexo! !<br>
<br>
<br>
<H3>Persona subclass: #Alumno<br>
&nbsp;&nbsp;&nbsp;	instanceVariableNames: 'libreta libre aprobadas '<br>
&nbsp;&nbsp;&nbsp;	classVariableNames: ''<br>
&nbsp;&nbsp;&nbsp;	poolDictionaries: ''<br>
&nbsp;&nbsp;&nbsp;	category: 'Facultad'!</H3><br>
<H3><br>
!Alumno methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 05:05'!<br>
</H3><b>initialize</b><br>
&nbsp;&nbsp;&nbsp;	super initialize.<br>
<br>
&nbsp;&nbsp;&nbsp;	libre _ False.<br>
&nbsp;&nbsp;&nbsp;	aprobadas _ 0.! !<br>
<br>
!Alumno methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 01:10'!<br>
<b>libreta</b><br>
&nbsp;&nbsp;&nbsp;	^ libreta! !<br>
<br>
!Alumno methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 01:10'!<br>
<b>libreta: unaLibreta</b><br>
&nbsp;&nbsp;&nbsp;	libreta _ unaLibreta! !<br>
<br>
"-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- "!<br>
<br>
<H3>Alumno class<br>
&nbsp;&nbsp;&nbsp;	instanceVariableNames: ''!</H3><br>
<H3><br>
!Alumno class methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 02:02'!<br>
</H3><b>new</b><br>
&nbsp;&nbsp;&nbsp;	^ super new initialize! !<br>
<br>
<br>
<H3>Persona subclass: #Docente<br>
&nbsp;&nbsp;&nbsp;	instanceVariableNames: 'libreta trabajo examen '<br>
&nbsp;&nbsp;&nbsp;	classVariableNames: ''<br>
&nbsp;&nbsp;&nbsp;	poolDictionaries: ''<br>
&nbsp;&nbsp;&nbsp;	category: 'Facultad'!</H3><br>
<H3><br>
!Docente methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 04:54'!<br>
</H3><b>conTrabajo</b><br>
&nbsp;&nbsp;&nbsp;	trabajo _ True.! !<br>
<br>
!Docente methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 05:26'!<br>
<b>initialize</b><br>
&nbsp;&nbsp;&nbsp;	super initialize.<br>
<br>
<br>
&nbsp;&nbsp;&nbsp;	trabajo _ False.<br>
&nbsp;&nbsp;&nbsp;	examen _ False.! !<br>
<br>
!Docente methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 01:10'!<br>
<b>libreta</b><br>
&nbsp;&nbsp;&nbsp;	^ libreta<br>
! !<br>
<br>
!Docente methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 01:10'!<br>
<b>libreta: unaLibreta</b><br>
&nbsp;&nbsp;&nbsp;	libreta _ unaLibreta! !<br>
<br>
!Docente methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 05:00'!<br>
<b>sinTrabajo</b><br>
&nbsp;&nbsp;&nbsp;	trabajo _ False! !<br>
<br>
!Docente methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 05:31'!<br>
<b>terminarExamen</b><br>
&nbsp;&nbsp;&nbsp;	<br>
&nbsp;&nbsp;&nbsp;	examen _ False.<br>
<br>
&nbsp;&nbsp;&nbsp;	examen ifTrue: [ 'loco' displayAt: 0 @ 0 ]<br>
&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	     ifFalse: [ 'mad' displayAt: 1 @ 1 ].! !<br>
<br>
!Docente methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 05:17'!<br>
<b>tieneTrabajo</b><br>
&nbsp;&nbsp;&nbsp;	^ trabajo! !<br>
<br>
!Docente methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 05:26'!<br>
<b>tomarExamen</b><br>
&nbsp;&nbsp;&nbsp;	<br>
&nbsp;&nbsp;&nbsp;	trabajo ifTrue: [ <br>
&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	examen ifTrue: ['Error. Ya esta tomando examen' displayAt: 0 @ 0 ]<br>
&nbsp;&nbsp;&nbsp;	                      &nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	   ifFalse: [examen _ True]<br>
&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	]<br>
&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	ifFalse: [ 'Error. Sin trabajo' displayAt: 0 @ 0 ]&nbsp;&nbsp;&nbsp;	! !<br>
<br>
"-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- "!<br>
<br>
<H3>Docente class<br>
&nbsp;&nbsp;&nbsp;	instanceVariableNames: ''!</H3><br>
<H3><br>
!Docente class methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 02:01'!<br>
</H3><b>new</b><br>
&nbsp;&nbsp;&nbsp;	^ super new initialize! !<br>
<br>
<br>
<H3>Object subclass: #Universidad<br>
&nbsp;&nbsp;&nbsp;	instanceVariableNames: 'materias docentes alumnos numeroLibretaAlumno numeroLibretaProf '<br>
&nbsp;&nbsp;&nbsp;	classVariableNames: ''<br>
&nbsp;&nbsp;&nbsp;	poolDictionaries: ''<br>
&nbsp;&nbsp;&nbsp;	category: 'Facultad'!</H3><br>
<H3><br>
!Universidad methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 05:09'!<br>
</H3><b>agregarAlumno: unAlumno</b><br>
<br>
&nbsp;&nbsp;&nbsp;	| |<br>
&nbsp;&nbsp;&nbsp;	alumnos add: unAlumno.<br>
&nbsp;&nbsp;&nbsp;	unAlumno initialize.<br>
<br>
&nbsp;&nbsp;&nbsp;	numeroLibretaAlumno _ numeroLibretaAlumno + 1.<br>
&nbsp;&nbsp;&nbsp;	unAlumno libreta: numeroLibretaAlumno.! !<br>
<br>
!Universidad methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 05:20'!<br>
<b>agregarDocente: unDocente</b><br>
<br>
&nbsp;&nbsp;&nbsp;	[ unDocente tieneTrabajo ] <br>
&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	     ifTrue: [ 'Error, ya tiene trabajo' displayAt: 0 @ 0 ]<br>
&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	<br>
&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	 ifFalse: [<br>
&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	docentes add: unDocente.&nbsp;&nbsp;&nbsp;	<br>
&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	unDocente conTrabajo.<br>
&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	unDocente terminarExamen.<br>
<br>
&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	numeroLibretaProf _ numeroLibretaProf + 1.<br>
&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	unDocente libreta: numeroLibretaProf.<br>
&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	]<br>
! !<br>
<br>
!Universidad methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 04:52'!<br>
<b>agregarMateria: unaMateria</b><br>
<br>
&nbsp;&nbsp;&nbsp;	materias add: unaMateria<br>
! !<br>
<br>
!Universidad methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 05:09'!<br>
<b>initialize</b><br>
&nbsp;&nbsp;&nbsp;	| |<br>
&nbsp;&nbsp;&nbsp;	" Initialize"<br>
<br>
&nbsp;&nbsp;&nbsp;	materias _ OrderedCollection new.<br>
&nbsp;&nbsp;&nbsp;	alumnos _ OrderedCollection new.<br>
&nbsp;&nbsp;&nbsp;	docentes _ OrderedCollection new.<br>
<br>
&nbsp;&nbsp;&nbsp;	numeroLibretaAlumno _ 0.<br>
&nbsp;&nbsp;&nbsp;	numeroLibretaProf _ 0.! !<br>
<br>
"-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- "!<br>
<br>
<H3>Universidad class<br>
&nbsp;&nbsp;&nbsp;	instanceVariableNames: ''!</H3><br>
<H3><br>
!Universidad class methodsFor: 'as yet unclassified' stamp: 'riq 6/8/2000 01:59'!<br>
</H3><b>new</b><br>
&nbsp;&nbsp;&nbsp;	^ super new initialize! !<br>
